<div class="login-container">
    <h1>Registration Form</h1>
    <div>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div *ngIf="errorMsg" class="error-message">
                {{errorMsg}}
            </div>
            <div *ngIf="success" class="success-message">
                Registration Successful!! <a href="#" [routerLink]="['/login']">Login here</a>
            </div>
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name">
            <div *ngIf="registrationForm.controls.name.touched && registrationForm.controls.name.invalid"
                class="error-message">
                name is required.
            </div>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" required>
            <div *ngIf="registrationForm.controls.email.touched && registrationForm.controls.email.invalid"
                class="error-message">
                email is required.
            </div>
            <br>
            <label for="password">Contact number:</label>
            <input type="number" id="phone" formControlName="phone" max-length="10">
            <div *ngIf="registrationForm.controls.phone.touched && registrationForm.controls.phone.invalid"
                class="error-message">
                Contact number is required.
            </div>
            <br>
            <label for="password">Company name(Optiobal):</label>
            <input type="text" id="company" formControlName="company">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password">
            <div *ngIf="registrationForm.controls.password.touched && registrationForm.controls.password.invalid"
                class="error-message">
                password is required.
            </div>
            <br>
            <button type="submit" [disabled]="registrationForm.invalid">Submit</button>
        </form>
        <div class="links">
            <a href="#" [routerLink]="['/login']">Already a Member?</a>
        </div>
    </div>
</div>