<div class="forgot-password-container">
    <h1>Forgot Password</h1>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div *ngIf="errorMsg" class="error-message">
                {{errorMsg}}
            </div>
            <div *ngIf="success" class="success-message">
                Password reset success!!
            </div>
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" id="email" required>
            <div *ngIf="forgotPasswordForm.controls.email.touched &&forgotPasswordForm.controls.email.invalid" class="error-message">
                Please enter email.
            </div>
            <br>
            <label for="newPassword">New Password</label>
            <input type="password" formControlName="newPassword" class="form-control" id="newPassword" required>
            <div *ngIf="forgotPasswordForm.controls.newPassword.touched &&forgotPasswordForm.controls.newPassword.invalid" class="error-message">
                Please enter password.
            </div>
            <br>
            <label for="repeatPassword">Re-enter password</label>
            <input type="password" formControlName="repeatPassword" class="form-control" id="repeatPassword"  required>
            <div *ngIf="forgotPasswordForm.controls.repeatPassword.touched &&forgotPasswordForm.controls.repeatPassword.invalid" class="error-message">
               Please Re-enter your passoword.
            </div>
        </div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn btn-primary">Reset Password</button>
    </form>
    <div class="links">
        <a href="#"  routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login from here</a>
    </div>
</div>